/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Helvetica", sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #af712b, #ba803b, #c48f4c, #ce9e5d, #d9ad6e, #d9ad6e, #d9ad6e, #d9ad6e, #ce9e5d, #c48f4c, #ba803b, #af712b);
}

/* ------------------------ TITULOS ------------------------ */
#titulo_principal {
  width: 100%;
  padding: 5px;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 30px;
  text-align: center;
  font-size: 70px;
}

.titulo_secundario {
  text-align: center;
  font-size: 70px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 30px;
  margin-left: 20px;
  text-align: center;
}

h3 {
  font-size: 10px, 5;
  padding: 0;
  text-align: center;
  color: #000000;
}

h4 {
  font-size: 10px, 5;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding: 60px;
}

/* ------------------------ PARRAFOS ------------------------ */
p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

/* -------------------- INTRODUCCION -------------------- */
.grid_introduccion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px;
}
.grid_introduccion .FotoPortada {
  position: static;
  width: 100%;
  height: 100%;
}
.grid_introduccion .grid_texto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #972323;
  padding: 10px;
  height: 100%;
  width: 1000px;
  margin: 10px;
  border-radius: 5px;
}

/* ------------------------ MAPA ------------------------ */
iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /*width: 600px;
  height: 450px; 
  margin: 20px 40px ;
  margin-left: 370px;
  border: 4px solid black;
  padding: 20px;*/
}

/* ------------------------ NOVEDADES ------------------------ */
.grid_novedades {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(3, 400px);
  justify-content: center;
  padding: 60px;
  gap: 70px;
}
.grid_novedades .grid_cartas {
  text-align: center;
  font-size: 25px;
  transition: all 0.5s;
}
.grid_novedades .grid_cartas:hover {
  transform: scale(1.15);
}

/* ------------------------ PRODUCTOS ------------------------ */
.productos__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 50px;
}
.productos__container .productos__container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 400px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  transition: all 0.5s;
}
.productos__container .productos__container1:hover {
  transform: scale(1.15);
}

/* ------------------------ OPINIONES ------------------------ */
.opiniones__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding: 50px;
}
.opiniones__container .opiniones__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 360px;
}
.opiniones__container .opiniones__bubble {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 250px;
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 5%;
  margin: 10px;
  transition: all 0.5s;
}
.opiniones__container .opiniones__bubble:hover {
  transform: scale(1.1);
}
.opiniones__container .opiniones__nombres {
  margin-left: 20px;
}

/* ------------------------ FOOTER ------------------------ */
footer {
  background-color: #af712b;
  width: 100%;
  height: 100%;
  position: relative;
}
footer h5 {
  text-align: center;
  font-size: 2rem;
  color: #000000;
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
footer .link_item {
  text-align: center;
}
footer #link__color {
  color: #000000;
}

/*---------------- MODO DESKTOP ----------------*/
@media (min-width: 901px) {
  .text-content {
    text-align: center;
    color: black;
    background-color: brown;
    width: 70%;
    height: 250px;
    margin: 20px;
    margin-left: 210px;
    border: 8px solid black;
    padding: 3%;
    font-family: "Times New Roman", Times, serif;
    font-size: 110%;
  }
  iframe {
    width: 600px;
    height: 450px;
    margin: 15px 40px 5px 10px;
    margin-left: 370px;
    border: 4px solid black;
  }
  .imagenes {
    margin: 20px;
    border: 10px solid black;
    margin-left: 420px;
  }
  /* --------------- Productos ---------------- */
}
/*------------------ MODO TABLET ------------------*/
@media (min-width: 600px) and (max-width: 900px) {
  .text-content {
    text-align: center;
    color: black;
    background-color: brown;
    width: 70%;
    height: 250px;
    margin: 20px;
    margin-left: 210px;
    border: 8px solid black;
    padding: 3%;
    font-family: "Times New Roman", Times, serif;
    font-size: 110%;
  }
  iframe {
    width: 600px;
    height: 450px;
    margin: 15px 40px 5px 10px;
    margin-left: 370px;
    border: 4px solid black;
  }
  .imagenes {
    margin: 20px;
    border: 10px solid black;
    margin-left: 420px;
  }
  /* --------------- Productos ---------------- */
}
/*------------------ MODO MOBILE ------------------*/
@media (max-width: 375px) {
  .text-content {
    text-align: center;
    color: black;
    background-color: brown;
    width: 70%;
    height: 500px;
    overflow: scroll;
    margin: 10px;
    margin-left: 10px;
    border: 8px solid black;
    padding: 5%;
  }
  iframe {
    width: 600px;
    height: 450px;
    margin: 15px 40px 5px 10px;
    margin-left: 10px;
    border: 4px solid black;
  }
  .imagenes {
    margin: 20px;
    border: 10px solid black;
    margin-left: 10px;
  }
  /* --------------- Productos ---------------- */
  /* --------------- Novedades ---------------- */
}

/*# sourceMappingURL=style.css.map */
