@import "./partials/variables";
@import "./partials/reset";


body{
    font-family: $fuente;
    position: relative;
    width: $ancho;
    height: 100%;
    background-image: linear-gradient(to right, #af712b, #ba803b, #c48f4c, #ce9e5d, #d9ad6e, #d9ad6e, #d9ad6e, #d9ad6e, #ce9e5d, #c48f4c, #ba803b, #af712b);
    overflow: scroll;
}

/* ------------------------ TITULOS ------------------------ */

#titulo_principal{
    width: 100%;
    padding: 5px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    font-size: $tamanio * 7;
}


.titulo_secundario{
    text-align: center;
    font-size: $tamanio * 7;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-size: $tamanio * 4;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    margin-left: 20px;
    text-align: center;
}

h3 {
    font-size: $tamanio * 1,5;
    padding: 0;
    text-align: center;
    color: #000000;
}

h4{
    font-size: $tamanio * 1,5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 60px;
}



/* ------------------------ PARRAFOS ------------------------ */

p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: $tamanio * 2;
}


.FotoPortada{
    position: static;
    justify-content: center;
    width: 100%;
}


/* -------------------- INTRODUCCION -------------------- */
.panovo_introduccion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 30px; 

    
    .panovo_texto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #972323;
        padding: 10px;
        height: 100%;
        width: 900px;
        margin: 10px;
        border-radius: 5px;
    }

    
}


/* ------------------------ MAPA ------------------------ */
.mapa_flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 30px;
    
    
    iframe{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 500px;
        width: 900px;
        margin: 10px;
        border-radius: 5px;
    }
}
/* ------------------------ NOVEDADES ------------------------ */

.grid_novedades{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(3, 400px);
    justify-content: center;
    padding: 60px;
    gap: 70px;
    

    .grid_cartas{
        text-align: center;
        font-size: 25px;
        transition: all .5s;
    }

    .grid_cartas:hover {
        transform: scale(1.15);
    }

}


/* ------------------------ PRODUCTOS ------------------------ */

    
    .productos__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 50px;
    
    
        .productos__container1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 100%;
        width: 400px;
        margin: 10px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        transition: all .5s;
        }
        
        .productos__container1:hover {
            transform: scale(1.15);
        }

    }


/* ------------------------ OPINIONES ------------------------ */


.opiniones__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    padding: 50px;
    

    .opiniones__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 360px;
    }

    .opiniones__bubble {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 250px;
        background-color: #ebebeb;
        padding: 20px;
        border-radius: 5%;
        margin: 10px;
        transition: all .5s;
    }

    .opiniones__bubble:hover {
        transform: scale(1.10);
    }

    
    .opiniones__nombres {
        margin-left: 20px;
    }
}



/* ------------------------ FOOTER ------------------------ */



footer {
    background-color: #af712b;
    width: 100%;
    height: 100%;
    position: relative;
    

    h5 {
    text-align: center;    
    font-size: 2rem;
    color: #000000;
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .link_item{
        text-align: center
    }

    #link__color{
        color: #000000
    }

}

@import "./partials/queries";