@import "./partials/variables";
@import "./partials/reset";


body{
    font-family: $fuente;
    position: relative;
    width: $ancho;
    height: 100%;
    background-image: linear-gradient(to right, #af712b, #ba803b, #c48f4c, #ce9e5d, #d9ad6e, #d9ad6e, #d9ad6e, #d9ad6e, #ce9e5d, #c48f4c, #ba803b, #af712b);
}

.principal{
    width: 100%;
    padding: 5px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
}


h1{
    color: black;
    font-size: $tamanio * 10;
}

h2{
    font-size: $tamanio * 3;
    padding: 30px;
    margin-left: 20px;
    text-align: center;
}

h3 {
    font-size: $tamanio * 1,5;
    padding: 0;
    text-align: center;
}
h4{
    font-size: $tamanio * 1,5;
    padding: 30px;
    text-align: center;
}


p{
    color: black;
}

.text-content{
    text-align: center;
    color: black;
    background-color: brown;
    width: 70%;
    height: 250px;
    margin: 20px;
    margin-left: 210px;
    border: 8px solid black;
    padding: 3%; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;  
}

.borde-redondo{
    border-radius: 30px;
}


iframe{
    width: 600px;
    height: 450px; 
    margin: 15px 40px 5px 10px;
    margin-left: 370px;
    border: 4px solid black;
    padding: 20px;
}

.grid_novedades{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 500px);
    justify-content: center;
    padding: 100px;
    gap: 40px;

    .grid_cartas{
        background-color: #999191;
    }
}


/* ------------------------ PRODUCTOS ------------------------ */

    
    .productos__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 50px;
    
    
        .productos__container1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: 100%;
        width: 500px;
        margin: 10px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        transition: all .5s;
        }
        
        .productos__container1:hover {
            transform: scale(1.15);
        }

    }


/* ------------------------ NOVEDADES ------------------------ */


#productos__novedades{
    margin-left: 400px;
}



/* ------------------------ OPINIONES ------------------------ */


.opiniones__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    padding: 50px;
    

    .opiniones__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 360px;
    }

    .opiniones__bubble {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        width: 250px;
        background-color: #ebebeb;
        padding: 20px;
        border-radius: 5%;
        margin: 10px;
        transition: all .5s;
    }

    .opiniones__bubble:hover {
        transform: scale(1.10);
    }

    
    .opiniones__nombres {
        margin-left: 20px;
    }
}



/* ------------------------ FOOTER ------------------------ */



footer {
    background-color: #362a0f;
    width: 100%;
    height: 100%;
    position: relative;
    

    h5 {
    text-align: center;    
    font-size: 2rem;
    color: #ffffff;
    margin-left: 20px;
    }

    .link_item{
        text-align: center
    }

    #link__color{
        color: #ffffff
    }

}

@import "./partials/queries";