/*------------------------ MODO DESKTOP ------------------------*/

@media (min-width:992px) and (max-width:1400px) {
    
    /* -------------------- Introduccion -------------------- */
    .panovo_introduccion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 30px; 


        .panovo_texto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #972323;
        padding: 10px;
        height: 100%;
        width: 900px;
        margin: 10px;
        border-radius: 5px;
        }


    }

    /* ------------------------ Mapa ------------------------ */
    .mapa_flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 30px;
    
    
        iframe{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 10px;
            height: 500px;
            width: 900px;
            margin: 10px;
            border-radius: 5px;
        }
    }

}


/*------------------------ MODO TABLET ------------------------*/



@media (min-width:700px) and (max-width:991px){


    /* -------------------- Introduccion -------------------- */
    .panovo_introduccion{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 10px; 

    
        .panovo_texto{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: #972323;
            padding: 10px;
            height: 100%;
            width: 600px;
            margin: 10px;
            border-radius: 5px;
        }   

    
    }

    /* ------------------------ Mapa ------------------------ */
    .mapa_flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 5px;
    
    
        iframe{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 10px;
            height: 400px;
            width: 600px;
            margin: 10px;
            border-radius: 5px;
        }
    }

    /* --------------------- Novedades -------------------- */
    .grid_novedades{
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(3, 400px);
        justify-content: center;
        padding: 60px;
        gap: 70px;
        
    
        .grid_cartas{
            text-align: center;
            font-size: 25px;
        }
    
    }
}


/*------------------------ MODO MOBILE ------------------------*/

@media (min-width:375px) and (max-width:699px) {
    
    /* -------------------- Introducción -------------------- */
    .panovo_introduccion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 5px; 


        .panovo_texto{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #972323;
        padding: 10px;
        height: 450px;
        width: 350px;
        margin: 10px;
        border-radius: 5px;
        }
}

    /* ------------------------ Mapa ------------------------ */
    .mapa_flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 5px;
    
    
        iframe{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 10px;
            height: 450px;
            width: 350px;
            margin: 10px;
            border-radius: 5px;
        }
    }
    /* --------------- Productos ---------------- */
    .productos__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 25px;


        .productos__container1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 10px;
            height: 100%;
            width: 300px;
            margin: 10px;
            border-radius: 5px;
            background-color: rgb(0, 0, 0);
        }
    
    }

    /* --------------- Novedades ---------------- */

    .grid_novedades{
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(1, 400px);
        justify-content: center;
        padding: 50px;
        gap: 60px;
    
        .grid_cartas{
            text-align: center;
            font-size: 20px;
        }

    }

}