/*---------------- MODO DESKTOP ----------------*/

@media (min-width:901px) {
    .text-content{
        text-align: center;
        color: black;
        background-color: brown;
        width: 70%;
        height: 250px;
        margin: 20px;
        margin-left: 210px;
        border: 8px solid black;
        padding: 3%;
        font-family: "Times New Roman", Times, serif;
        font-size: 110%;  
    }

    iframe{
        width: 600px;
        height: 450px; 
        margin: 15px 40px 5px 10px;
        margin-left: 370px;
        border: 4px solid black;
    }
    .imagenes{
        margin: 20px;
        border: 10px solid black;
        margin-left: 420px;
    }


   /* --------------- Productos ---------------- */


}

/*------------------ MODO TABLET ------------------*/

@media (min-width:600px) and (max-width:900px){

    .text-content{
        text-align: center;
        color: black;
        background-color: brown;
        width: 70%;
        height: 250px;
        margin: 20px;
        margin-left: 210px;
        border: 8px solid black;
        padding: 3%;
        font-family: "Times New Roman", Times, serif;
        font-size: 110%;  
    }
    iframe{
        width: 600px;
        height: 450px; 
        margin: 15px 40px 5px 10px;
        margin-left: 370px;
        border: 4px solid black;
    }
    .imagenes{
        margin: 20px;
        border: 10px solid black;
        margin-left: 420px;
    }


   /* --------------- Productos ---------------- */





}


/*------------------ MODO MOBILE ------------------*/

@media (max-width:375px) {
    
    .text-content {
        text-align: center;
        color: black;
        background-color: brown;
        width: 70%;
        height: 500px;
        overflow: scroll;
        margin: 10px;
        margin-left: 10px;
        border: 8px solid black;
        padding: 5%;
    }

    iframe{
        width: 600px;
        height: 450px; 
        margin: 15px 40px 5px 10px;
        margin-left: 10px;
        border: 4px solid black;
    }
    .imagenes{
        margin: 20px;
        border: 10px solid black;
        margin-left: 10px;
    }



/* --------------- Productos ---------------- */



/* --------------- Novedades ---------------- */


}